body{
    background-image: url(147.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 900px;
    
}

.center {

  }